.box {
	width: 100%;
	height: 100%;
	background-image: url(https://img.yts.mx/assets/images/movies/kisi_ka_bhai_kisi_ki_jaan_2023/background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
}

.wrap {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.movieDetailWrap {
	display: flex;
	border-radius: 10px;
	align-items: center;
	width: 65%;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: rgba(57, 57, 57, 0.7);
	padding: 30px;
}
.img {
	width: 400px;
	height: 315px;
	border: 5px solid #fff;
	margin-bottom: 50px;
}
.infoWrap {
	width: 400px;
	display: flex;
	flex-direction: column;
	color: #fff;
}
.title {
	font-size: 1.6em;
	margin-bottom: 15px;
	line-height: 20px;
	font-weight: 700;
}
.year,
.genres,
.rating,
.download {
	font-weight: 700;
	line-height: 14px;
	font-size: 1.1em;
	margin-bottom: 20px;
}
.download {
	margin-bottom: 60px;
}
.genres {
	margin-bottom: 70px;
}
.btn {
	background: #6ac045;
	border-radius: 3px;
	border: none;
	display: block;
	font-weight: bold;
	color: #fff;
	font-size: 16px;
	width: 130px;
	padding: 7px 0;
	cursor: pointer;
}
.info {
	color: #fff;
	font-size: 1.3rem;
	margin-bottom: 30px;
}
