.movieWrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 30px 200px 30px 200px;
	overflow-x: hidden;
}
.movieImg {
	display: flex;
	flex-direction: column;
	width: 210px;
	height: 315px;
	margin-bottom: 30px;
	cursor: pointer;
	border: 5px solid #fff;
}
.movieImg:hover {
	border: 5px solid rgb(65, 188, 82);
	transition: 0.5s;
}
.overlay {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.head,
.genre {
	color: #fff;
	font-size: 20px;
	text-align: center;
}
.genre {
	overflow-x: hidden;
	text-overflow: ellipsis;
}
.btn {
	width: 70%;
	margin: 0 auto;
	background-color: rgb(98, 155, 73);
	border-radius: 10px;
	padding: 10px;
	border: none;
}
.btn:hover {
	transition: 0.5s;
	cursor: pointer;
	background-color: rgb(159, 192, 145);
}
.movieImg:hover .overlay {
	width: 100%;
	transition: 0.7s;
	opacity: 1;
	background: rgba(63, 62, 62, 0.8);
}
.pagination {
	text-align: center;
}
.pagination button {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	font-size: 35px;
	margin-right: 10px;
	color: #f3f3f3;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
}
.pagination button:hover {
	color :rgb(98, 155, 73);
}

