.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(43, 43, 43);

	font-size: 70px;
	box-sizing: border-box;
	padding: 0 196px;
	height: 100px;
}
.navigation a {
	color: rgb(65, 188, 82);
	text-decoration:none
}
.search {
	width: 20%;
	height: 100%;
}
.search button{
	background-color: rgb(43, 43, 43);
	border: none;
	font-size: 20px;
	cursor: pointer;
}
.search input {
	padding: 7px;
	border: 2px solid grey;
	border-radius: 15px;
	margin-right: 10px;
	background-color: rgb(43, 43, 43);
	color: #fff;
}