.header {
  display: flex;
  background-color: #1d1d1d;
  color: #6ac045;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  font-weight: 700;
  border-bottom: 1px solid #2f2f2f;
}

.header h1 {
  font-size: x-large;
}

.form-search {
  position: relative;
}

.img-glass {
  position: absolute;
  left: 100px;
}

.inp-search {
  position: absolute;
  left: 100px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  width: 10rem;
  color: #919191;
}
